@import 'partials/reset';
@import 'partials/clearfix';
/* Variables */
$color-heading: #111;
$color-text: #444;
$color-gradient-start: #efefff;
$color-lightest: #fff;
$font-family: sans-serif;


svg {
  border: 3px solid black;

  .line {
    stroke: black;
    stroke-width: 4;
  }

  .rect {
    stroke: black;
    stroke-width: 4;
    fill: none;
  }
}